/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/dist/css/bootstrap';


// .body_section {
//   position: absolute;
//   top: 400;
//   left: 20;
//   overflow-y: scroll;
//   background-color: aqua;
//   width: calc(100vw - 20px);
// }
// .content_area {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: calc(80vh - 10px);
// }

.content_area {
  padding: 20px 50px;
}

.navbar-brand {
  font-size: medium;
}

#header_title {
  display: inline-block;
  padding: 10px;
}

#all_classes_btn {
  color: white;
  text-decoration: none;
}
