// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#title_page {
  text-align: center;
}

#college_clip_art {
  display: inline-block;
  margin: 0px auto;
  background: url(clip_art_university.png);
  background-repeat: no-repeat;
  background-size: 70vw 50vh;
  height: 50vh;
  width: 70vw;
}