// Place all the styles related to the teacher_classes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.card-title {
  font-weight: bold;
}

.card {
  min-height: 270px;
  margin: 5px;
}

.card_container {
  display: inline-block;
}

.card_image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: calc(100% - 10px);
  height: 180px;
  margin: 5px;
  border: solid 1px #AAA;
  border-radius: 5%;
}

.card_image img{
  height: 100%;
  width: auto;
}