// Place all the styles related to the teacher_classes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.card-title {
  font-weight: bold;
}

.card {
  min-height: 270px;
}

.card_container {
  display: inline-block;
}